{% extends 'starter-page.html' %}
{% load static %}

{% block content %}

<h2 class="text-center">List of My Contacts</h2>

<table class="table table-info container">
   <tr>
       <th>Name</th>
       <th>Email</th>
       <th>Subject</th>
       <th>Message</th>
       <th>Actions</th>
   </tr>
    {% for contact in all %}

    <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.subject }}</td>
        <td>{{ contact.message }}</td>
        <td>
            <a href=""class=" btn btn-outline-success">Edit</a>
            <a href="/delete/{{ contact.id }}"class="btn btn-outline-danger">Delete</a>
        </td>

    </tr>


    {% endfor %}
</table>

{% endblock %}